.axis,
.gaxis {
	stroke-width: 1px;
	color: #c4c2d7;
}
.xaxis {
	text-anchor: start;
}
.yaxis {
	text-anchor: end;
}
.gyaxis text {
	text-anchor: end;
}

html,
body {
	margin: 0;
	width: 15in;
	height: 8in;
}

.position-line {
	stroke-width: 2px;
}

body {
	background-color: #100e28;
	display: flex;
	justify-content: center;
	text-align: center;
	overflow: scroll;
	color: #c4c2d7;
	font-size: 140px;
}

svg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	fill: #fff;
	font-family: sans-serif;
	background-color: #100e28;
}

.button:hover {
	cursor: pointer;
}

.matrix-square:hover {
	cursor: pointer;
}
